<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Avengers Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
      <h1>Welcome to AVENGERS application</h1>
    {{{body}}}
</div>
<div class="container">
  <h2>Injecting through CI/CD Pipeline</h2>
    <form action="/event" method="post">
    <div class="form-group">
       <label>title: </label>
       <input name="title" class = "form-control" type="text" /> 
       </div>
       <div class="form-group">
       description: <input name="description" class = "form-control" type="text" /> </div>
       <div class="form-group">
       location: <input name="location" class = "form-control" type="text" /> </div>
       <br />
        <input type="submit" class="btn btn-success" name="submit" value="submit" />

    </form>
  </div>
</body>
</html>